
.container .content_box ul {
    list-style-type: none;
    text-align: left;
    min-width: 450px;
}

.container .content_box ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.container .content_box ul .sigle_check_li {
    padding-left: 200px;
}

.container .content_box ul .sigle_check_li .sigle_check_box {
    display: flex;
}

.container .content_box ul .sigle_check_li .sigle_check_box input {
    width: 20px;
    display: inline-block;

}

ul .sigle_check_li .sigle_check_box .radio_box {
    margin-right: 50px;
}

ul .sigle_check_li .sigle_check_box .radio_box label {

}

ul .three_li {
    display: inline-block;
}

ul .three_li .radio_box {

}

ul .three_li .radio_box input {
    width: 20px;
    display: inline-block;
}

.container .content_box select {
    width: 255px;
    height: 25px;
}

/*
select
*/
.container .content_box .sql_type {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    text-align: left;
    min-width: 450px;
    padding-left: 40px;

}

.select_box, .select_list {
    height: 25px;
    width: 255px;
    display: flex;
}

.select_box .select_list {
    border: solid 1px #999;
    font-size: 12px;
    padding-left: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: menulist-button;
}

.small_select {
    width: 80px;
    margin-left: 100px;
}

.container .content_box input {
    width: 250px;
    height: 20px;
    overflow: hidden;
}

.content_box form {
    width: 450px;
    min-width: 450px;
    margin: 0 auto;
}

.content_box form .button_box {
    margin-top: 100px;
    width: 500px;
}

.content_box form .button_box button {
    display: inline-block;
    margin-left: 90px;
    width: 100px;
    background: #efefef;
    height: 25px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    border: none;
    cursor: pointer;
}