body {
    margin: 20px 20px 20px 20px;
}

.container {
    min-width: 1000px;
}

.container .content_box {
    min-width: 1000px;
}

.container .content_box ul {
    list-style-type: none;
    text-align: left;
    min-width: 800px;

}

.container .content_box ul li {
    display: flex;
    justify-content: space-between;
    min-width: 500px;
    overflow: hidden;
}

.container .content_box ul li .describe {
    overflow: hidden;
    width: 600px;
    margin-left: 40px;
}

.content_box form .button_box {
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 60px;
    width: 400px;
}

.content_box form .button_box .warn_btn {
    background-color: red;
    color: #fff;
    box-shadow: 0px 0px 0px 0px #fff !important;
    border: none;
    cursor: pointer;
}

.content_box form .button_box button {
    display: inline-block;
    margin-right: 50px;
    width: 100px;
    background: #efefef;
    height: 25px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.content_box form .list_title {
    display: flex;
    justify-content: space-between;

}

.content_box form .list_title .list_name {
    display: inline-block;
    text-align: left;
    /* margin-left: 80px; */
}

.list_title .list_check_box {
    display: inline-block;
    width: 600px;
    margin-left: 40px;
    text-align: left;
}

.content_box form .list_title .list_title_describe {
    width: 600px;
    text-align: left;
    margin-left: -75px;
}

.content_box form {
    width: 70%;
    min-width: 1000px;
    margin: 0 auto;
    padding-left: 150px;
}

.container .content_box ul .li_check {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.container .content_box ul .li_check span {
    margin-left: 40px;
    white-space: nowrap;
    overflow: hidden;
}