body{
	margin: 0 40px;
	background: #e4e4e4;
	height:100%;
}

.container .h1{
	border-bottom: 1px solid #666;
	height: 60px;
	line-height: 60px;
	font-size: 18px;
	padding-left: 50px;
}
.container .content_box{
	text-align: center;
	height:100%;
	padding-bottom: 20px;
	
}
.container{
	background: #fff;
	border: solid 1px #666;
	height:100%;
	margin: 0px 120px 200px 120px;
}