<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>创建数据库连接</title>
		<link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
		<link type="text/css" rel="stylesheet" href="../static/css/connect.css" />
		<link type="text/css" rel="stylesheet" href="../static/css/common.css" />
	</head>
	<body>
		<div id="app" class="container">
			<div class="h1">创建数据库连接</div>
			<div class="content_box">
				<form οnsubmit="return false">
					<div class="sql_type">
						<span>数据库:</span>
						<div class="select_box">
							<select v-model="database" class="select_list">
								<option value="">请选择数据库</option>
								<option v-for ="(item, index) in databaseType" :value="index">{{item}}</option>
							</select>
						</div>
					</div>
					<ul v-if="database==0">
						<li>
							<span>主机：</span>
							<input placeholder="请输入域名或者ip" v-model="ip"/>
						</li>
						<li>
							<span>端口:</span>
							<input placeholder="请输入端口号" v-model="port" />
						</li>
						<li>
							<span>数据库名称:</span>
							<input placeholder="请输入数据库名称" v-model="databaseName"/>
						</li>
						<li>
							<span>用户名：</span>
							<input placeholder="请输入用户名" v-model="user"/>
						</li>
						<li>
							<span>密码:</span>
							<input placeholder="请输入密码" type="password" v-model="pwd" />
						</li>
					</ul>
					<ul v-if="database === 2">
						<li>
							<span>连接类型</span>
							<div class="select_box">
                                <select class="select_list">
									<option value="基本">基本</option>
									<option value="TNS">TNS</option>
								</select>
							</div>
						</li>
						<li>
							<span>主机：</span>
							<input />
						</li>
						<li>
							<span>端口：</span>
							<input placeholder="1512">
						</li>
						<li>
							<span>服务名：</span>
							<input v-model="severName" disabled="disabled">
						</li>
						<li class="sigle_check_li">
							<div class="sigle_check_box">
								<div class="radio_box">
									<input type="radio" name="sever" value="服务名" v-model="severName" checked>
									<label>服务名</label>
								</div>
								<div class="radio_box">
									<input type="radio" name="sever" value="SID" v-model="severName">
									<label>SID</label>
								</div>
								
							</div>
						</li>
						
						<li class="three_li">
							<span>角色：</span>
							<div class="select_box small_select">
								<select class="select_list">
									<option>默认</option>
									<option>SYSDBA</option>
									<option>SYSOPER</option>
								</select>
							</div>
							<div class="radio_box">
								<input type="checkbox" name="verify" value="操作系统验证">
								<label>操作系统验证</label>
							</div>
						</li>
						<li>
							<span>用户名：</span>
							<input placeholder="请输入用户名">
						</li>
						<li>
							<span>密码：</span>
							<input placeholder="请输入密码">
						</li>
					</ul>
					<ul v-if="database === 1">
						<li>
							<span>主机：</span>
							<input placeholder="">
						</li>
						<li>
							<span>端口：</span>
							<input placeholder="1433">
						</li>
						<li>
							<span>初始数据库：</span>
							<input placeholder="master">
						</li>
						<li>
							<span>验证</span>
							<div class="select_box">
                                <select class="select_list">
									<option value="SQL Sever验证">SQL Sever验证</option>
									<option value="windows验证">windows验证</option>
								</select>
							</div>
						</li>
						<li>
							<span>用户名：</span>
							<input placeholder="请输入用户名">
						</li>
						<li>
							<span>密码：</span>
							<input placeholder="请输入密码">
						</li>
					</ul>
					<div class="button_box">
						<button :disabled="buttonStatus == 0" @click="testConnect(this)">测试连接</button>
						<button :disabled="buttonStatus == 0" @click="connect(this)">连接</button>
					</div>
					
				</form>
			</div>
		</div>
	</body>
	<script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			crossorigin="anonymous"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="../static/js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script src="../static/js/modal_dialog.js"></script>
	<script>
		axios.defaults.withCredentials = true;
		new Vue({
			el: "#app",
			data: {
				ip: "127.0.0.1",
				port:3306,
				databaseName: "bladex",
				user: "root",
				pwd: "~wow1VSlol2",
				//pwd: "btg302",
				databaseType:["MYSQL", "SQL Sever", "Oracle"],
				database: 0,
				severName:"",
				buttonStatus:1
			},
			created: function () {
			},
			methods: {
				testConnect: async function (obj) {
					this.buttonStatus = 0;
					if (this.tips()) {
						await axios.get('/testConnection', {
							params: {
								ip: this.ip,
								port: this.port,
								user: this.user,
								pwd: this.pwd,
								database: this.database,
								databaseName: this.databaseName
							}
						}).then(function (response) {
							console.log(response)
							if (response.data.code == 200) {
								showAlert('success', '连接成功！');
							} else {
								showAlert('error', '连接失败,请检查配置！');
							}
						}).catch(function (error) {
							showAlert('error', error.message);
						});
					}
					this.buttonStatus = 1;
				},
				connect: async function () {
					this.buttonStatus = 0;
					if (this.tips()) {
						await axios.get('/connection', {
							params: {
								ip: this.ip,
								port: this.port,
								user: this.user,
								pwd: this.pwd,
								database: this.database,
								databaseName: this.databaseName
							}
						}).then(function (response) {
							if (response.data.code == 200){
								location.href = '/list';
							} else {
								showAlert('error', '连接失败,请检查配置！');
							}
						}).catch(function (error) {
						});
					}
					this.buttonStatus = 1;
				},
				tips:function () {
					if(this.database != 0){
						showAlert('info', '暂时只支持mysql数据库！');
						return false;
					}
					return this.checkParameter();
				},
				checkParameter:function () {
					var ip_reg =  /^(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$/
					var domain_name_reg =  /^(?=^.{3,255}$)[a-zA-Z0-9][-a-zA-Z0-9]{0,62}(\.[a-zA-Z0-9][-a-zA-Z0-9]{0,62})+$/
                    var port_reg = /^([0-9]|[1-9]\d|[1-9]\d{2}|[1-9]\d{3}|[1-5]\d{4}|6[0-4]\d{3}|65[0-4]\d{2}|655[0-2]\d|6553[0-5])$/;
					if(!ip_reg.test(this.ip) || !domain_name_reg.test(this.ip)){
						showAlert('info', '请输入正确的域名或ip！');
						return false;
					}
					if(!port_reg.test(this.port)){
						showAlert("info", '请输入正确的端口！');
						return false;
					}
					if(this.user == '' || this.pwd == ''){
						showAlert("info", "用户名和密码不能为空！");
						return false;
					}
					return true;
				}
			}
		})

		var form = document.getElementsByTagName('form')[0];
		form.addEventListener('submit', function (e) {
			e.preventDefault();
		});


		function showAlert(icon, msg) {
			$modal({
				type: 'message', //弹框类型  'alert' or  'confirm' or 'message'    message提示(开启之前如果之前含有弹框则清除)
				icon: icon, // 提示图标显示 'info' or 'success' or 'warning' or 'error'  or 'question'
				timeout: 2000, // 单位 ms  显示多少毫秒后关闭弹框 （ confirm 下无效 | 不传默认为 2000ms | 最短显示时间为500ms）
				content: msg, // 提示文字
				top:100, //距离顶部距离 单位px
				transition: 300, //过渡动画 默认 200  单位ms
				closable: false, // 是否显示可关闭按钮  默认为 false
			})
		}
	</script>
	
</html>
